body {
    background: rgb(50, 130, 184);
    background: linear-gradient(122deg, rgba(50, 130, 184, 1) 5%, rgba(46, 79, 79, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.main-header {
    z-index: 9998;
}

.mod-enca {
    margin-left: 2rem;
}

.main-container {
    flex-grow: 1;
    color: white;
}

.main-container-contact {
    margin-top: 6rem;
    flex-grow: 1;
}

.nav-bg {
    background-color: #2C3333;
}

.btn-8bit {
    background-color: rgb(67, 148, 202);
    color: white;
}

.btn-8bit:hover {
    background-color: rgb(45, 103, 141);
    color: white;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    color: #2f9ca1;
}

.img-shadow {
    position: relative;
}

.img-shadow::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) url('../assets/img/slider-img-bg.png') no-repeat center top;
    background-size: 100% 100%;
    opacity: .5;
}

.position-title {
    position: absolute;
    bottom: 0;
    z-index: 9997;
    padding-bottom: 2rem;
}

.up-container {
    display: block;
    color: white;
    text-decoration: none;
}

.up-container:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.bg-card {
    background-color: #1c6063;
}

.bg-up {
    background-color: inherit;
    border: none;
}

.border-col-up {
    border-left: 0.1rem solid #638187;
}

.bg-title {
    display: block;
    padding-left: 1rem;
    background-color: rgb(67, 148, 202);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .2rem;
}

.caracteristicas {
    display: flex;
}

/* Conocenos / Iniciar sesion */

.conocenos-container {
    flex-grow: 1;
}

.color-text-ic {
    color: black;
}

.bg {
    background-image: url(../assets/img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-container {
    flex-grow: 1;
}

.bg-color-text {
    color: white;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Conocenos / Iniciar sesion */

/* Comentarios */

.comentarios {
    margin: 2rem;
}

.form-comentarios {
    margin-bottom: 2rem;
}

.form-comentarios textarea {
    width: 100%;
    height: 8.4rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 8.4rem;
    max-height: 30rem;
    padding: .5rem;
    line-height: 3rem;
    border: .1rem solid #4b65d1;
    margin-bottom: 1rem;
}

.btn-comentario:hover {
    background-color: #1fb9be;
}

.img-comentario {
    width: 6rem;
    height: 6rem;
    border-radius: 0.7rem;
}

.media {
    display: flex;
    border-top: 0.1rem solid #bfbfbf;
    padding-top: 2rem;
}

.media img {
    margin-right: 2rem;
}

.media-body {
    display: flex;
    flex-direction: column;
}

.media .nombre {
    margin-bottom: 0;
}

.media .nombre span {
    font-size: .9rem;
    margin-left: .8rem;
}

.media .comentario {
    margin-top: 1rem;
}

.media .botones {
    margin-bottom: 1rem;
}

.media .botones a {
    color: white;
    font-size: 0.9rem;
    margin-left: 1rem;
    text-decoration: none;
}

/* Comentarios */

/* Index */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.carousel {

    height: auto;
    bottom: 4rem;

}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {

    max-block-size: 500px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    letter-spacing: -.05rem;
}



.pagination>li>a {

    background-color: rgb(67, 148, 202);
    color: white;
    ;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {

    color: #2C3333;
    background-color: #CBE4DE;
    border-color: #CBE4DE;
}

.pagination>.active>a {
    color: #2C3333;
    background-color: #0E8388 !Important;
    border: solid 1px #CBE4DE !Important;
}

.pagination>.active>a:hover {
    background-color: #0E8388 !Important;
    border: solid 1px #CBE4DE;
}

.my-pagination {

    margin: 0 auto;
}

.my-container a {


    display: flex;
    color: #ffff;
    text-decoration: none;

}

.my-container a:hover {

    transform: scale(1.1);
    transition: 0.3s ease;

}



.button-article {


    border-radius: 0.5rem;
    color: #CBE4DE;
    background-color: royalblue;

}

.b-example-divider {
    height: 3rem;
    background-color: #2C3333;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Index */

/* Error 404 */

.error-style {
    flex-grow: 1;
}

.error-card {
    margin: 0 auto;
    margin-top: 10rem;
    background-color: inherit;
    color: #CBE4DE;
    border: none;
    width: 20rem;
}


/* Errir 404 */


.footer-container {
    background-color: #212529;
    color: white;
    text-align: center;
}

.footer-redes {
    display: flex;
    flex-direction: column;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-container a:hover {
    color: rgb(67, 148, 202);
}

.bg-modal {
    background-color: rgb(47, 104, 143);
}

.modal-edit {
    z-index: 9999;
}


@media (max-width: 1199px) {
    .search-none {
        display: none !important;
    }

    .search-media {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    .caracteristicas {
        flex-direction: column;
    }

    .my-container a:hover {
        transform: scale(1);
        transition: 0 ease;
    }
}

@media (max-width: 991px) {

    .up-content {
        display: none;
    }

    .border-col-up {
        display: none;
    }
}

@media screen and (max-width: 576px) {


    .card-text-min {
        display: none;
    }

    .text-h2 {
        text-align: center;
    }

    .media {
        flex-direction: column;
    }

    .media .botones a {
        margin-left: 0;
    }
}

@media screen and (min-width: 990px) {
    .card-2 {
        width: 15rem !important;
    }


}

@media screen and (min-width: 1400px) {
    .card-2 {
        width: 18rem !important;
    }


}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


@media (max-width: 776px) {


    .my-container a {

        flex-direction: column;

    }

}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}